.subnav {
    list-style: none;
    display: flex;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    font-size: 20px;
    color: black;
    border: 1px inset #ccc;
    border-top: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    padding-top: 40px;
    padding-bottom: 40px;
   }

  .subnav :first-child img {
    width: 300px;
    height: auto;
 }

 .subnav div:nth-child(2) {
    font-size: 20px;
    padding-top: 9px;
    }

 .subnav div:nth-child(3) {
      font-size: 20px;
      padding-top: 9px;
      }

 .subnav div:nth-child(4) {
        font-size: 20px;
        padding-top: 9px;
        }

 .subnav div:nth-child(5) {
          font-size: 20px;
          padding-top: 9px;
          }

 .subnav div:nth-child(6) {
            font-size: 20px;
            padding-top: 9px;
            }